/*
    palette:
    #E5D9B6
    #A4BE7B
    #5F8D4E
    #285430
*/

html {
    font-size: 14px;
    background-color: #E5D9B6;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
        background-color: #E5D9B6;
    }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #E5D9B6;
}

.navbar{
    background-color: #A4BE7B;
}

.border-bottom {
    background-color: #A4BE7B !important;
}
.table th, td {
    border-color: #285430;
}

#specialText:hover span {
    display: none
}

#specialText:hover:before {
    content: "Loo uus kasutaja."
}

.btn-primary {
    background-color: #5F8D4E;
    border-color: #5F8D4E;
}

.btn-primary::selection {
    background-color: #5F8D4E;
    border-color: #5F8D4E;
}

.btn-primary:hover, btn-check:focus + .btn-primary, .btn-primary:focus, .btn-primary:disabled, .btn-primary.disabled {
    background-color: #285430;
    border-color: #285430;
}

a {
    color: #285430;
}

.border-top {
    border-top: 1px solid #285430;
}

.border-bottom {
    border-bottom: 1px solid #285430;
}